:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  background-image: url('./images/money.jpg');
}
h1 {
  background-color: #ffffff;
  font-size: 4rem;
  border: #000000;
}
table {
  margin-top: 10%;
  background-color: lightgreen;
  width: 60%;
  font-size: 2rem;
  justify-content: space-between;
}
